* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

body{
  display: flex;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.commonContainer{
  width: 800px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;
  vertical-align: middle;
  padding: 20px 0px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: rgba(21, 190, 241, 0.2);
  opacity: 0.7;
}

.containerTitle {
  text-align: center;
  margin: 20px;
  /* border: 1px dotted rgb(208, 228, 29); */
}

.containerTitle h1 {
  font-size: 38px;
  font-weight: 300;
  font-style: italic;
}

.wrapper{
  display: flex;
  flex-direction: column;
  /* border: 1px dotted purple; */
}

.containerForInput{
  display: flex;
  width: 680px;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
  margin: 20px auto;
  /* border: 1px dotted red;   */
}

input, label {
  display: block;
}

input {
  height: 40px;
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 8px;
}

#inputWhere{
  width: 200px;
  padding-left: 15px;
}

#inputHowMuch{
  width: 280px;
  padding-left: 15px;
}



.itemWhereEdit {
  width: 150px;
  height: 30px;
}

.itemDateEdit {
  width: 150px;
  height: 30px;
}

.itemHowMuchEdit {
  width: 150px;
  height: 30px;
}

#inputButton {
  height: 42px;
  width: 110px;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: rgb(33, 170, 136);
}

#containertotalSum { 
  width: 680px;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  margin: 20px auto;
  /* border: 1px dotted green; */
}

#totalSum::before { 
  content: "Итого: ";
}
#totalSum::after { 
  content: " p.";
}

.containerForOutnput{
  width: 680px;
  margin: 0 auto;
  /* border: 1px dotted orange; */
}

.listItem{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 24px;
  margin: 20px 0px;
  /* border: 1px dotted rgb(0, 255, 98); */
}

.itemWhere{
  width: 250px;
  overflow: auto;
  /* border: 1px dotted rgb(147, 21, 151); */
}

.itemDate{
  width: 140px;
  text-align: center;
  /* border: 1px dotted rgb(147, 21, 151); */
}

.itemHowMuch{
  width: 120px;
  margin-left: 10px;
  text-align: right;
  /* border: 1px dotted rgb(147, 21, 151); */
}

  
.itemHowMuch::after {
  content: " p."
}


.itemChange {
  /* border: 1px dotted rgb(221, 26, 19); */
  width: 120px;
}


.itemChange img {
  width: 30px;
  margin: 0 15px;
}
@media(max-width: 690px){
  .commonContainer{
    width: 690px;
  }

  .containerForInput{
    width: 590px;
  }

  #conteinerForTotalSum{
    width: 500px;
  }


  #inputHowMuch{
    width:200px;
  }


  .listItem{
    padding: 0px 10px;
}

@media(max-width: 400px){
  .commonContainer{
    width: 400px;
  }

  .containerForInput{
    text-align: center;
    height: 240px;
    width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #containertotalSum {
    margin-top: 30px;
    width: 375px;
    padding-right: 15px;
  }

  .containerForOutnput{
    width: 400px;
    flex-direction: column;
    align-items: center;
  }

  #inputHowMuch{
    width:250px;
  }

  #inputWhere{
    width:250px;
  }

  .listItem {
    width: 360px;
    flex-direction: column;
    padding: 0px 10px;
  }

  .itemWhere {
    text-align: right;
    width: 380px;
  }